.tasks-container{
     padding: 10px;
     .user-info{
        padding: 10px;
     }

    .task-block{
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1{
            text-align: center;
        }
    }
}


