.app-container{
    width: 100%;
    background-color: #fff;

.copy-right{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.26);
    position: sticky;
    bottom: 0;
    background-color: #fff;
}
}