.auth-container{
    padding: 50px;
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    input{
        width: 200px;
        padding: 10px;
        border:none;
        border:1px solid #86d72f;
        
     
    }
    input:focus{
   
        outline: #86d72f solid 1px;
    }
     
}